body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstQuarter {
    background-color: #1F2937;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20%;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.HeaderLogo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:700;
}

.HeaderLinks, .HeroSubText {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.firstQuarterNotHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20%;
    padding: 100px 0px;
}

.firstHalfFirstQuarter {
    width: 450px;
}

.HeroMain {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
}

.bigImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color:#E5E7EB;
    padding: 100px 150px;
}

.secondQuarter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;
    gap: 48px;
    padding-bottom: 120px;
}

.imageRows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 48px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150px;
}

.itemText {
    color: #1F2937;
    text-align: center;
    margin-top: 10px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: 3px solid #3882F6;
}

.secondQuarterTitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.thirdQuarter {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 450px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.quoter {
    font-weight: 700;
    align-self: flex-end;
    font-size: 24px;
}


.fourthQuarter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 60px;
    margin: 90px;
    margin-left: 240px;
    margin-right: 240px;
    border-radius: 12px;
}

.CalltoActionHeader {
    font-weight: 700;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 36px;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
}